/*Fuentes*/
@font-face {
    font-family: 'dm-serif-display';
    src: url('assets/fonts/DMSerifDisplay-Regular.ttf') format('truetype');
}
@font-face {
font-family: 'dm-serif-display-italic';
src: url('assets/fonts/DMSerifDisplay-Italic.ttf') format('truetype');
}
@font-face {
    font-family: 'dm-sans';
    src: url('assets/fonts/DMSans.ttf') format('truetype');
}
@font-face {
    font-family: 'sanrio';
    src: url('assets/fonts/Keepsmile.otf') format('truetype');
}
/*Estilos de texto*/
p{
    font-family: 'dm-sans';
}
a{
    text-decoration: none;
}

/*TODO
    .Completar el nav, hacer que los items de la izquierda esten mas juntos y ver que hacerle al carrito para que no quede tan feo
    .Formulario, un club de miembros.
    .Captcha, al completar el formulario hay que realizar un captcha
    .Precios de los productos
    .Estilizar el button de productos destacados
*/
body{
    background: rgba(206, 202, 202, 0.2) /* Fondo gris con 20% de opacidad */
}
header{
    display: flex;
    justify-content: center;
}

header h1{
    margin: 0 auto 0 auto;
    font-family: 'dm-serif-display';
    color: #A62103;
    font-size: 3em;
}




nav{
    text-decoration: none;
}
nav ul{
    
    display: flex;
    background: #A62103;
    border-bottom: 3px solid #590C04;
    border-top: 3px solid #A62103;

    justify-content: space-between;
    
}
nav ul li{
    list-style-type: none;
    align-content: center;
}

nav ul li a{
    font-weight: bold;
    font-family: 'dm-sans';
    letter-spacing: 1px;
    line-height: 1px;
    text-decoration: none;
    text-transform: uppercase;
    list-style: none;
    color: white;
}
nav a img{
    margin-right: 1em;
    width: 1.5em;
}
.nav-left{
    margin: -2em;
}

.mistery-box{
    border: 3px solid #FFF78A;
    /* border-right: 3px solid #FFF78A; */
    border-radius: 8px;
    background-color: #F6F7C4;
    background-image: url("assets/img/question-mark.png");

    background-repeat: repeat;  
}
.mistery-box-text{
    display: flex;
    justify-content: center;
    color: #ffb6c1;

}
.mistery-box-text p{
    font-family: 'sanrio';
    font-size: 2em;
    margin-top: 0.2em;
    margin-bottom: 0;
    letter-spacing: 3px;
}

.mistery-box-text img{
    width: 3em;
    align-self: baseline;
    margin-top: 0.2em;
    margin-left: 0.5em;
}
.mistery-box-img{
    height: 10em;
    display: flex;
    justify-content: center;
    opacity: 0.8;

}
.mistery-box-img:hover{
    opacity: 1;
}
.mistery-box-info p{
    color: #4f2f17;
    text-align: center;

}
.destacados{
    font-family: 'dm-serif-display-italic';
    display: flex;
    justify-content: center;
}

.destacados h3{
    
    font-size: 2em;
    margin-top: 0.5em;
}
.title{
    font-family: 'dm-serif-display-italic';
}
.box-info{
    margin-left: 1em;
}
.box-info button{
    margin-top: 1em;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-family: 'dm-sans';
    font-weight: bold;
    border-color: #7f5550;
    border-radius: 3px;
    color: white;
    background-color: #590C04;

}
.descripcion p  {
    margin-top: -0.1em;
    font-size: 12px;
}
.title{
    margin-bottom: 0;
    font-size: 23px;
}

.celular{
    width: 40%;
    height: 40%;
    
}


 /*Left mueve el section afectado a la izquierda y right a la derecha */
.left{
    display: flex;
    justify-content: flex-start;
}

.right{
    display: flex;
    justify-content: flex-end;
}



.img-stickers{
    width: 20%;
}
/*media queries*/

/*estilos para tablets pequeñas*/
@media (width >= 620px){
}
/*estilos para tablets grandes y laptops*/
@media (width >= 960px){

}
/*estilos para desktop*/

@media (width >= 1200px){
    body{
        margin: 0 auto 0 auto;
        width:900px;
    }
}