/*Fuentes*/
@font-face {
    font-family: 'dm-serif-display';
    src: url('assets/fonts/DMSerifDisplay-Regular.ttf') format('truetype');
}
@font-face {
font-family: 'dm-serif-display-italic';
src: url('assets/fonts/DMSerifDisplay-Italic.ttf') format('truetype');
}
@font-face {
    font-family: 'dm-sans';
    src: url('assets/fonts/DMSans.ttf') format('truetype');
}
@font-face {
    font-family: 'sanrio';
    src: url('assets/fonts/Keepsmile.otf') format('truetype');
}
.dark-mode {
    background-color: #343434;
    color: #F9F6EE;
}
.dark-mode-li{
    display: inline-block;
    padding-right: 1.5em;
    font-weight: bold;
    font-family: 'dm-sans', 'Times New Roman', Times, serif;
    letter-spacing: 1px;
    text-decoration: none;
    text-transform: uppercase;
    list-style: none;
    color: white;
}
#dark-mode-btn{
    background-color: #A62103;
    width: 1.5em;
    height: 1.5em;
    
}
#dark-mode-btn img{
    width: 1.5em;
    height: 1.5em;
}
/*Estilos de texto*/
p{
    font-family: 'dm-sans', 'Times New Roman', Times, serif;
}
a{
    text-decoration: none;
}

/*TODO
    .FIJARSE NAV EN MYSTERY BOX
    .fijarse desktop
*/
body{
    background: rgba(206, 202, 202, 0.297) /* Fondo gris con 30% de opacidad */
}
header{
    display: flex;
    flex-direction: column;
    align-items: center;
}
header .dropdown{
    align-self:start;
}

header h1{
    margin: 0 auto 0 auto;
    font-family: 'dm-serif-display', 'Times New Roman', Times, serif;
    color: #A62103;
    font-size: 3em;
}
.dropdown{
    margin-bottom: 1em;
}
.dropdown span{

}

.dropdown #nav-btn-open ,#nav-btn-close{
    color: white;
    background-color: #A62103;
}
.hidden{
    display: none;
}
nav{
    text-decoration: none;
    border-bottom: 5px solid #A62103;

}
#nav-ul{
    margin: 0.25em 1em 0 auto;
    text-align: end;
}
.nav-list{
    
    display: flex;
    flex-direction: column;
    background-color: #A62103;
}
.nav-list button{
    margin: 0 0 1em 0;
    border: none;
    position:absolute;
}
nav ul{
    display: flex;
    flex-direction: column;
    background: #A62103;
    border-top: 3px solid #A62103;
}
nav ul li{
    list-style-type: none;
}

nav ul li a{
    font-weight: bold;
    font-family: 'dm-sans', 'Times New Roman', Times, serif;
    letter-spacing: 1px;
    line-height: 1px;
    text-decoration: none;
    text-transform: uppercase;
    list-style: none;
    color: white;
}
nav a img{
    width: 1.5em;
}

#nav-ul.show {
    display: flex;
}




.destacados{
    font-family: 'dm-serif-display-italic', 'Times New Roman', Times, serif;
    display: flex;
    justify-content: center;
}

.destacados h3{
    font-size: 2em;
    margin-top: 0.5em;
}
.title{
    font-family: 'dm-serif-display-italic', 'Times New Roman', Times, serif;
}
.box-info{
    margin-left: 1em;
}
.box-info button , #nav-btn-open{
    margin-top: 1em;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-family: 'dm-sans', 'Times New Roman', Times, serif;
    font-weight: bold;
    border-color: #7f5550;
    border-radius: 3px;
    color: white;
    background-color: #590C04;

}
.descripcion p  {
    margin-top: -0.1em;
    font-size: 12px;
}
.title{
    margin-bottom: 0;
    font-size: 23px;
}

.celular{
    width: 40%;
    height: 40%;
    
}


 /*Left mueve el section afectado a la izquierda y right a la derecha */
.left{
    display: flex;
    justify-content: flex-start;
}

.right{
    display: flex;
    justify-content: flex-end;
}

/* css prductos*/
.suscripcion, .subs{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    padding-bottom: 2%;
}

.contenedor{
display: grid;
grid-template-columns: 1fr;


}
.productos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 3px solid #A62103;
    margin: 1em 1em 1em 1em;

}
.productos img{
    height: 300px;
}
.porta-sube , .llavero , .charm{
width: 80%;
}

.img-stickers{
    width: 20%;
}

/*mystery box*/
.mistery-box{
    border: 3px solid #FFF78A;
    border-radius: 8px;
    background-color: #F6F7C4;
    background-image: url("assets/img/question-mark.png");
    background-repeat: repeat;
}
.mistery-box-text{
    display: flex;
    justify-content: center;
    color: #ffb6c1;
}
.mistery-box-text p{
    font-family: 'sanrio', 'Times New Roman', Times, serif;
    font-size: 2em;
    margin-top: 0.2em;
    margin-bottom: 0;
    letter-spacing: 3px;
}

.mistery-box-text img{
    width: 3em;
    align-self: baseline;
    margin-top: 0.2em;
    margin-left: 0.5em;
}
.mistery-box-img{
    height: 10em;
    display: flex;
    justify-content: center;
    opacity: 0.8;

}
.mistery-box-img:hover{
    opacity: 1;
}
.mistery-box-info p{
    color: #4f2f17;
    text-align: center;

}
/*mystery box*/
.texto-box{
    border-radius: 8px;
    background-color: #a621031d;
}
.info-box, .nombre-box{
    font-family: 'dm-serif-display', 'Times New Roman', Times, serif;
}
.descripcion-box, .titulo-box, .formulario-main{
    font-family: 'dm-serif-display', 'Times New Roman', Times, serif;
    display: flex;
    justify-content: center;
}
.descripcion-box, label, .btn-captcha, input .captcha{
    font-size: 19px;
}
/*tabla*/
.container-tabla{
    overflow-x: auto;
}
table {
    border: 2px solid rgba(247, 87, 87, 0.467);
    letter-spacing: 1px;
    font-size: 19px;
    background-color: rgba(253, 110, 110, 0.138);
}
td, th {
    border: 1px solid rgba(253, 110, 110, 0.414);
    padding: 10px 20px;
}
td {
    text-align: center;
    background-color: rgba(253, 110, 110, 0.414);
}
.tabla {
    margin-bottom: 20px; /* Espacio en la parte de abajo de la tabla */
}


footer{

    margin-top: 1em;
    display: flex;
    justify-content: space-around;
    background-color: #A62103;
    color: white;
}
footer p{
    margin: 0.3em;
}
footer a{
    color: white;
}

/*media queries*/



/*estilos para tablets pequeñas*/

@media (width >= 620px){
    body{
    }



    .celular{
        width: 20%;
        height: 20%;
    }
    .box-info .title{
        font-size: 3em;
        margin-top: 0.5em;
    }
    .box-info p{
        font-size: 1em;
    }
    .descripcion button{
        width: 12em;
        height: 3em;
    }
    .descripcion button span{
        font-size: 1.5em;
        
    }
    .contenedor{
        display: grid;
        grid-template-columns: 1fr 1fr;
        
        
        }
    
}

/*estilos para tablets grandes y laptops*/
@media (width >= 960px){
    body{
        margin: auto;
        width: 900px;
    }
}
/*estilos para desktop*/

@media (min-width: 1200px) {
    body {
        margin: auto;
        width: 800px;
    }
    /*nav*/
    nav{
        margin-bottom: 2em;
        display: flex;
        justify-content: center;
        background-color: #A62103;
        border-bottom: 5px solid #A62103;

    }
    nav ul li{
        padding-right: 2em;
    }
    nav ul li:last-child{
        padding-right: 0;
    }

    
    .btn-menu {
        display: none;
    }
    #dark-mode-btn{
        display: inline-block;
    }
    .dark-mode-li{
        margin-right: 2em;
    }
    ul.hidden {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin: 0 auto 0 auto;

    }
}